@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'lobster';
    src: url('./fonts/Lobster.ttf');
}
@font-face {
    font-family: 'narrow';
    src: url('./fonts/Niew\ CroMagnon\ Narrow.ttf');
}