#particles canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
}

.login-container {
    /* Glassmorphism effect */
    background: rgba(255, 255, 255, 0.581); /* Semi-transparent white background */
    backdrop-filter: blur(5px); /* Blur the background slightly */
    -webkit-border-radius: 0px 40px 0px 40px;
    -moz-border-radius: 0px 40px 0px 40px;
    border-radius: 0px 40px 0px 40px;
    border: #333332 2px solid ;
    box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25); /* Shadow for depth */
    padding: 30px;
    width: 350px; /* Adjust width as needed */
    margin: 30px auto; /* Center the box */
    text-align: center;
  }
  /* login header */
  .login-header span {
    position:relative;
    display:inline-flex;
    height: 40px;
    margin-bottom: 10px;
    width: 200px;
    background: #d71616;
    justify-content: center;
    align-items: center;
    border-radius: 0 10px 0 10px;
    font-family: Consolas, Courier New, monospace;
    border: solid #4d5a72 2px;
    font-size: 20px;
    color: rgb(255, 255, 255);      
  }
  .login-header h2 {
    font-size: 15px;
    font-family: Consolas, Courier New, monospace;
    margin-bottom: 10px;
  }
  .line {
    border-bottom: 1px solid black; /* Adjust color and thickness as needed */
    margin-bottom: 30px;
    width:auto;
  }
  /* Form elements within the box */
  .login-form {
    /* Adjust font size and colors for better readability on the glass background */
    font-size: 14px;
    color: #333;
  }
  
  .login-form input {
    background: transparent; /* Keep inputs transparent */
    border: none; 
    border-bottom: 3px solid #ccc; /* Indicate focus with a bottom border */
    margin-bottom: 1px;
    width: 100%;
    color: #d71616;
  }
  
  .login-form button {
    height: 40px;
    margin-top: 20px;
    width: 200px;
    background: #333;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: Consolas, Courier New, monospace;
    border: solid #4d5a72 1px;
    font-size: 16px;
    color: rgb(165, 158, 158);
    -webkit-transition: 500ms;
    transition: 500ms;
    border-radius: 70px;
    background: linear-gradient(145deg, #2e2d2d, #212121);
    -webkit-box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
    box-shadow: -1px -5px 15px #41465b, 5px 5px 15px #41465b,
      inset 5px 5px 10px #212121, inset -5px -5px 10px #212121;
  }
  
  .login-form button:hover {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 13px #545b78;
    color: #d6d6d6;
    -webkit-transition: 500ms;
    transition: 500ms;
  }
  
  .login-form button:active {
    -webkit-box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    box-shadow: 1px 1px 13px #20232e, -1px -1px 33px #545b78;
    color: #d6d6d6;
    -webkit-transition: 100ms;
    transition: 100ms;
  }